In [2]:
import pandas as pd
import numpy as np

In [3]:
revenue_growth_factor = 0.18
EBITDA_margin_rate = 0.45
tax_rate = - 0.21
capital_expenditures_rate = - 0.03
working_capital_increase_rate = - 0.06
EDBITA_exit_multiple = 32.7
discount_factor = 0.94

In [4]:
index = pd.date_range('2021', periods=12, freq='Y')
index

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [5]:
df = pd.DataFrame(index = index, columns = ['revenue'])
df['revenue'][0] = 222
df

           revenue
2021-12-31     222
2022-12-31     NaN
2023-12-31     NaN
2024-12-31     NaN
2025-12-31     NaN
2026-12-31     NaN
2027-12-31     NaN
2028-12-31     NaN
2029-12-31     NaN
2030-12-31     NaN
2031-12-31     NaN
2032-12-31     NaN

In [6]:
for i in range(1, len(df)):
    df['revenue'][i] = df['revenue'][0] * (1 + revenue_growth_factor) ** (i)

df

                revenue
2021-12-31          222
2022-12-31       261.96
2023-12-31     309.1128
2024-12-31   364.753104
2025-12-31   430.408663
2026-12-31   507.882222
2027-12-31   599.301022
2028-12-31   707.175206
2029-12-31   834.466743
2030-12-31   984.670757
2031-12-31  1161.911493
2032-12-31  1371.055562

In [7]:
df['EBITDA'] = df.revenue * EBITDA_margin_rate
df

                revenue      EBITDA
2021-12-31          222        99.9
2022-12-31       261.96     117.882
2023-12-31     309.1128   139.10076
2024-12-31   364.753104  164.138897
2025-12-31   430.408663  193.683898
2026-12-31   507.882222     228.547
2027-12-31   599.301022   269.68546
2028-12-31   707.175206  318.228843
2029-12-31   834.466743  375.510034
2030-12-31   984.670757  443.101841
2031-12-31  1161.911493  522.860172
2032-12-31  1371.055562  616.975003

In [8]:
df['tax'] = df['EBITDA'] * tax_rate
df

                revenue      EBITDA         tax
2021-12-31          222        99.9     -20.979
2022-12-31       261.96     117.882   -24.75522
2023-12-31     309.1128   139.10076   -29.21116
2024-12-31   364.753104  164.138897  -34.469168
2025-12-31   430.408663  193.683898  -40.673619
2026-12-31   507.882222     228.547   -47.99487
2027-12-31   599.301022   269.68546  -56.633947
2028-12-31   707.175206  318.228843  -66.828057
2029-12-31   834.466743  375.510034  -78.857107
2030-12-31   984.670757  443.101841  -93.051387
2031-12-31  1161.911493  522.860172 -109.800636
2032-12-31  1371.055562  616.975003 -129.564751

In [9]:
df['capital_expenditures'] = df['revenue'] * capital_expenditures_rate 
df

                revenue      EBITDA         tax capital_expenditures
2021-12-31          222        99.9     -20.979                -6.66
2022-12-31       261.96     117.882   -24.75522              -7.8588
2023-12-31     309.1128   139.10076   -29.21116            -9.273384
2024-12-31   364.753104  164.138897  -34.469168           -10.942593
2025-12-31   430.408663  193.683898  -40.673619            -12.91226
2026-12-31   507.882222     228.547   -47.99487           -15.236467
2027-12-31   599.301022   269.68546  -56.633947           -17.979031
2028-12-31   707.175206  318.228843  -66.828057           -21.215256
2029-12-31   834.466743  375.510034  -78.857107           -25.034002
2030-12-31   984.670757  443.101841  -93.051387           -29.540123
2031-12-31  1161.911493  522.860172 -109.800636           -34.857345
2032-12-31  1371.055562  616.975003 -129.564751           -41.131667

In [10]:
df['working_capital'] = df['revenue'] * working_capital_increase_rate 
df

,revenue,EBITDA,tax,capital_expenditures,working_capital
2021-12-31,222,99.9,-20.979,-6.66,-13.32
2022-12-31,261.96,117.882,-24.75522,-7.8588,-15.7176
2023-12-31,309.1128,139.10076,-29.21116,-9.273384,-18.546768
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186
2025-12-31,430.408663,193.683898,-40.673619,-12.91226,-25.82452
2026-12-31,507.882222,228.547,-47.99487,-15.236467,-30.472933
2027-12-31,599.301022,269.68546,-56.633947,-17.979031,-35.958061
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.71469
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334

In [11]:
df['cash_flow'] = df['EBITDA'] + df['tax'] + df['capital_expenditures'] + df['working_capital']
df

,revenue,EBITDA,tax,capital_expenditures,working_capital,cash_flow
2021-12-31,222,99.9,-20.979,-6.66,-13.32,58.941
2022-12-31,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038
2023-12-31,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949
2025-12-31,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735
2026-12-31,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273
2027-12-31,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252

In [12]:
df['discount_factor'] = [(discount_factor ** i) for i in range(len(df))]
df

,revenue,EBITDA,tax,capital_expenditures,working_capital,cash_flow,discount_factor
2021-12-31,222,99.9,-20.979,-6.66,-13.32,58.941,1.000000
2022-12-31,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.940000
2023-12-31,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.883600
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584
2025-12-31,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749
2026-12-31,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904
2027-12-31,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.689870
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252,0.506298

In [13]:
df['present_value_fcf'] = df['cash_flow'] * df['discount_factor']
df

,revenue,EBITDA,tax,capital_expenditures,working_capital,cash_flow,discount_factor,present_value_fcf
2021-12-31,222,99.9,-20.979,-6.66,-13.32,58.941,1.000000,58.941
2022-12-31,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.940000,65.377357
2023-12-31,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025-12-31,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749,89.218916
2026-12-31,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904,98.961622
2027-12-31,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569,135.050559
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.79808
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615,166.156031
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,364.015252,0.506298,184.300269

In [14]:
df.present_value_fcf[1:-1]

2022-12-31     65.377357
2023-12-31     72.516565
2024-12-31     80.435373
2025-12-31     89.218916
2026-12-31     98.961622
2027-12-31    109.768231
2028-12-31    121.754922
2029-12-31    135.050559
2030-12-31     149.79808
2031-12-31    166.156031
Freq: A-DEC, Name: present_value_fcf, dtype: object

In [15]:
present_value_of_projected_fcf = df.present_value_fcf[1:-1].sum()
present_value_of_projected_fcf

1089.037656673089

In [16]:
df.EBITDA[-1]

616.9750027528825

In [17]:
terminal_value = EDBITA_exit_multiple * df.EBITDA[-1]
terminal_value

20175.082590019258

In [18]:
df.discount_factor['2031']

2031-12-31    0.538615
Freq: A-DEC, Name: discount_factor, dtype: float64

In [19]:
present_value_of_terminal_value = terminal_value * df.discount_factor[-2]
present_value_of_terminal_value

10866.60441109724

In [20]:
present_value_of_asset = present_value_of_projected_fcf + present_value_of_terminal_value
present_value_of_asset

11955.642067770328

In [21]:
statement = f"""
Our projected Present Value of Projected Future Cash Flows are: {present_value_of_projected_fcf:.2f}.

We are providing revenue guidance in 2032 to be: {df.loc["2032", "revenue"].values[0]:.2f}

With an estimated EBITDA around: {df.loc["2032", "EBITDA"][0]:.2f}.

The terminal value a this time given a multiple of {EDBITA_exit_multiple:.2f} and the above EBITDA for 2030, would equal: {present_value_of_terminal_value:.2f}.

"""

print(statement)

Our projected Present Value of Projected Future Cash Flows are: 1089.04.

We are providing revenue guidance in 2032 to be: 1371.06

With an estimated EBITDA around: 616.98.

The terminal value a this time given a multiple of 32.70 and the above EBITDA for 2030, would equal: 10866.60.